<p>
  In summer of 2017, I was very excited to unleash my latest project: a proper personal webapp to replace my very first static HTML site. You can read all about the thought process <a href="/posts/building-the-blog-the-thought-process" target="_BLANK">here</a> and the technical decisions I made <a href="/posts/building-the-blog-the-tech-side" target="_BLANK">here</a>. In reflection, my implementation largely aligned with my objectives for the site: I could write and edit posts from the deployed site itself and could edit content and pages by simply redeploying to Heroku.
</p>

<p>
  At the same time, it's pretty incredible how much you can learn in a year, and with those learnings entirely shift your perspective on different matters. Today, I struggle to find myself wanting to build <i>anything</i> in Rails. While I once valued the structure the framework lays out for the developer, I increasingly realized every new feature added is more of a band-aid then a well-designed pattern. What you gain in speed of initial development and consistency you often lose in flexibility and personal-preference.
</p>
