<p class="caption">A stretched-out rubber unicorn (left), my roommate Adam, and myself</p>

<p>I think I speak for a lot of people when I say that this year was <i>quick</i>. By that, I mean truly scarily and excitingly quick. To give some context, I recently completed my sophomore year at Penn. Many people are quick to remind me that I am now halfway done with college. For the record, there's no need to remind me or any of my peers--we are well aware.</p>

<p>Time is an incredibly valuable resource, but so too are things that you can derive directly in exchange for time. We complete time-based transactions all the time, be they for percentage points on tests, better grades on assignments, learning, money, mentorship, a more relaxed mind, a healthier body, stronger relationships...</p>

<p>In order to have gotten to where each of us is today, we required some level of time management. I prefer the term <i>time optimization</i> because it gets to the root of our asiprations: we have limited time and, as a result, in everything we do we should aim to make the most of it.</p>

<p>Such optimization is unique to each person and requires much introspection and personal-pep talks to improve, so I won't touch on that. Rather, I want to discuss some interesting facets of time and what we can do to make the most of these aspects.</p>

<p>In terms of <i>perceived duration</i>, a minute on the treadmill is not equal to a minute relaxing on the beach. Likewise, a precise minute five years ago is not equal to a minute right now. This is to say, time is at once quite fluid and rigid; it is absolutely consistent in its passing though absolutely inconsistent in its impact on us. It follows that different ways of divvying up our time will lead to different perceptions of that very same time.</p>

<h4 class="bold">A pitch for consistency</h4>

<p>I love being consistent. There's a certain freedom to preparedness: complete your assignments before they are due and you have time to explore new avenues. Be proactive and productive at work and you have time to learn more from others and exceed expectations. Do this consistently and you set a tone of efficiency and efficacy day-in and day-out.</p>

<p>To test this, I've maintained some personal analytics over this past year to install more consistency in my day-to-day routing (warning, a little nerd is about to come out).</p>

<img src="https://s3-us-west-2.amazonaws.com/cameron-cabo-general/posts/github.png" class="img-fluid marg-bot-1">

<p>For starters, I want to continually get better at building technical products. To this aim, I've sought to commit as many days as possible over the past year. Similarly, I wanted to get stronger and generally healthier. Since January first, I've exercised all but 19 days and have kept to a consistent cycle of working out different muscle groups. In both cases, consistency has proven a sure means of gleaning desired results.</p>

<p>There is an enforced amount of consistency in any collegaite or professional setting: there are weekly deliverables, set meeting times, and delineated expectations. Ensuring that you are making consistent progress on top of this, be it in software, fitness, or any other pursuit, is central to maximizing learning and growth.</p>

<p>Having established this glowing upside, I now want to touch on some apparent negatives of absolute consistency.</p>

<h4 class="bold">The qualification of cyclicity</h4>

<p>To be quite honest, I didn't know this was a word until I started writing this, hoped that it was a word, and consulted Google for affirmation (<i><a href="https://www.merriam-webster.com/dictionary/cyclicity">Cyclicity:</a> (n.) the quality or state of being cyclic</i>). When we fall into cycles, time goes by quicker than we can even realize.</p> 
