<p class="caption">A stretched-out rubber unicorn (left), my roommate Adam, and myself</p>

<p>I think I speak for a lot of people when I say that this year was <i>quick</i>. By that, I mean truly scarily and excitingly quick. To give some context, I recently completed my sophomore year at Penn. Many people are quick to remind me that I am now halfway done with college. For the record, there's no need to remind me or any of my peers--we are well aware.</p>

<p>Time is an incredibly valuable resource, but so too are things that you can derive directly in exchange for time. We complete time-based transactions all the time, be they for percentage points on tests, better grades on assignments, learning, money, mentorship, a more relaxed mind, a healthier body, stronger relationships...</p>

<p>In order to have gotten to where each of us is today, we required some level of time management. I prefer the term <i>time optimization</i> because it gets to the root of our asiprations: we have limited time and, as a result, in everything we do we should aim to make the most of it.</p>

<p>Such optimization is unique to each person and requires much introspection and personal-pep talks to improve, so I won't touch on that. Rather, I want to discuss some interesting facets of time and what we can do to make the most of these aspects.</p>

<p>In terms of <i>perceived duration</i>, a minute on the treadmill is not equal to a minute relaxing on the beach. Likewise, a precise minute five years ago is not equal to a minute right now. This is to say, time is at once quite fluid and rigid; it is absolutely consistent in its passing though absolutely inconsistent in its impact on us. It follows that different ways of divvying up our time will lead to different perceptions of that very same time.</p>
