<p>
    In ethical debates, &ldquo;slippery slope&rdquo; arguments are a common mechanism for dissuading people from defaulting to one-off exceptions simply because something seems right in <i>this</i> case. The higher level idea is that if we decide to let this one item through our otherwise impenetrable set of rules, where do we actually draw the line? What differentiates this case from an ever-so-slightly more morally problematic one?
</p>
<p>
    For a super simple case, imagine you're on a diet. There are these delicious looking chai blondies seated between you and your next meeting. You might as well slam one right now and just not cheat again later. But what really is different between this and pounding a milkshake or a cupcake when you get off work as well? Maybe there's something to gain from letting that one blondie through but obviously letting every sinful food through your diet-based facade is problematic.
</p>
<p>
    I've been thinking more about slippery slopes now than ever before--more than in my high school ethics bowl team (I was and am a nerd) or my engineering ethics class.
</p>

https://www.siliconvalley.com/2017/08/17/cloudflare-ceo-wakes-up-mad-and-sends-neo-nazi-website-to-its-doom-2/
https://www.vox.com/recode/2019/6/27/18761360/donald-trump-twitter-policy-censorship-rules
https://psmag.com/social-justice/dont-hate-just-moderate

<p>
    A conclusion that I'm reaching is that slippery slope arguments, as tech advances, are becomming both more compelling and more realistic. When a select few companies monopolize a stage in the content delivery network that is the internet, they can very well make decisions to ban who they wish unless we have certain rules in place. Generally, I think these companies invest in the resources and discussion such that they act morally while still putting profits first. Though, as we have seen a few times this year, we cannot bank on this to be the case.
</p>
