<p class="caption">
  Sunset atop Mount Tamalpais captured one of the first days into my summer.
</p>

<p>
  Everyone loves a summer well-spent; and I'm happy to say that the past three and change months were just that for me. The people who surrounded me, the places I explored, and the projects I got to work on bred an enriching, creative, experimental, and teaching summer season. More specifically...
</p>

<div class="line"></div>

<h4>I wrote code and drove decisions at PayPal.</h4>

<p>Coming from a relatively small-scale startup in <a href="https://joinhoney.com" target="_blank">Honey</a> last summer, I sought experience in an established tech powerhouse. I figured (and indeed discovered) that there was much to learn from the processes, protocols, and decisionmaking behind managing thousands of developers and hundreds of millions of customers across the globe. <u>I coordinated with teams across buildings and across continents to improve a product for users across the street and around the world. I think that's pretty cool.</u></p>

<p>I worked on an agile linking team within the branded "Pay with PayPal" app to add the functionality to dynamically grant users who login to the app discounts on their purchases. Importantly, my project was flexible to its core: supporting granular user segments across all parts of the world with support for different languages and currencies. Hopefully, I laid the groundwork for meaningful incentive A/B testing and marketing campaigns for years to come.</p>

<p>Getting my project through the develpoment pipeline was no small feat, as is the reality in any large company. I worked day in and day out not only to build out my piece of the puzzle, but also ensure other teams knew what I was doing and how my project fit into theirs. Informal, quick, and targetted meetings and Slack messages became my best friend.</p>

<p>The payments space is one of hot competition and global expansion; the winners who emerge must have superior user experiences, network breadth, and technical depth which convert prospective users into loyal customers. In giving 20 thousand people $5 off of their purchase on behalf of PayPal, I hope to have pushed the company's aim to be a customer champion yet another step forwards.</p>

<div class="line"></div>

<h4>I hustled alongside Adam to get Riplo, our student-led software development studio, off the ground and moving ahead with a full head of steam.</h4>

<p>I love the process of building out new projects. Each project is an opportunity to work with new tech in a new context with a new team--you can iterate quickly, shatter assumptions, and strive to make something users will love. When actively building something, I learn, grow, and get the most done.</p>

<p>Riplo is largely a formalization of a process that has been underway for a while. The objective is to fill a market gap: my coworkers and I want to build and learn, and our clients want the next wave of web and mobile innovation.</p>

<p>If you want to learn more, get involved, or have something built, check out <a href="https://www.riplo.io" target="_blank">our website.</a></p>

<div class="line"></div>

<h4>I worked on a fantastic team to bring Nalda to production.</h4>

{{> mac img="/img/posts/nalda.png" }}

<p>Indeed, this was effectively <a href="https://www.riplo.io" target="_blank">Riplo's</a> first large-scale client. Nalda is a food, drink, and event discovery platform for college campuses. At the moment, we are focusing on creating a beautiful web experience for Penn, though more locations, features, and a mobile app are in the near-term pipeline.</p>

<p>Check out what we built <a href="https://www.naldacampus.com/" target="_blank">here.</a></p>

<p><span class="highlight">Todo. Swap out the image.</span></p>

<div class="line"></div>

<h4>I iteratively worked to give The Metric a sleek, opinionated UI which its content deserves.</h4>

<p><span class="highlight">todo.</span></p>

<div class="line"></div>

<h4>I explored California, deciding to spend my time either very much at work or very much removed from it.</h4>

<p><span class="highlight">todo.</span></p>

<div class="line"></div>

<h4>I learned an incredible amount from the people around me, and I am incredibly energized for year 3 at Penn.</h4>

<p><span class="highlight">todo--get some good closing thoughts.</span></p>
