<p class="caption">
  The sun melts into the foggy hills atop Mount Tamalpais on an early summer night.
</p>

<p>
  Everyone loves a summer well-spent; and I'm happy to say that the past three and change months were just that for me. The people who surrounded me, the places I explored, and the projects I got to work on collectively formed an enriching, creative, experimental, and teaching summer season. More specifically...
</p>

<h4>I wrote code and drove decisions at PayPal.</h4>

<p>Coming from a relatively small-scale startup in <a href="https://joinhoney.com" target="_blank">Honey</a> last summer, I sought experience in an established technology powerhouse. I figured (and indeed discovered) that there was much to learn from the processes, protocols, and decisionmaking behind managing thousands of developers and hundreds of millions of customers across the globe.</p>

<p>I worked on an agile linking team within the branded "Pay with PayPal" app to add functionality to dynamically grant users who login to the app discounts on their purchases. Importantly, my project had flexibility built into its core: supporting different user segments across different locations, handling different languages and currency codes. Hopefully, I laid the groundwork for productive testing and marketing campaigns for years to come.</p>

<p>Getting my project through the develpoment pipeline was no small feat, as is the reality in any large company... <span class="highlight">develop this more.</span></p>

<p>The payments space is one of hot competition and global expansion; the winners who emerge must have superior user experiences, network breadth, and technical depth which convert prospective users into loyal customers. In giving 20 thousand people $5 off of their purchase on behalf of PayPal, I hope to have pushed the company's aim to be a customer champion forwards.</p>

<h4>I hustled alongside Adam to get Riplo, our student-led software development studio, off the ground with a full head of steam ahead.</h4>

<p><span class="highlight">todo.</span></p>

<h4>I worked on a fantastic team to bring Nalda to production.</h4>

<p>Indeed, this was effectively <a href="https://www.riplo.io" target="_blank">Riplo's</a> first large-scale client. A full fledged web app for discovering food, events, and drink in Philadelphia with a mobile app and more locations soon to follow.</p>

<img src="/img/posts/nalda.png" />

<p><span class="highlight">todo.</span></p>

<h4>I iteratively worked to give The Metric a sleek, opinionated UI which its content deserves.</h4>

<p><span class="highlight">todo.</span></p>

<h4>I explored California, deciding to spend my time either very much at work or very much removed from it.</h4>

<p><span class="highlight">todo.</span></p>

<h4>I learned an incredible amount from the people around me, and I am incredibly energized for year 3 at Penn.</h4>

<p><span class="highlight">todo--get some good closing thoughts.</span></p>
