.bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
  z-index: 0;
  overflow: hidden !important;

  div {
    position: fixed;
    background: $lighter-gray;
    transition: all 0.2s ease;
  }

  #line-1 {
    width: 100%;
    top: 40px;
    height: 1px;
    left: 0;
  }

  #line-2 {
    height: 100%;
    left: 200px;
    width: 1px;
    top: 0;
  }

  #line-3 {
    height: 100%;
    right: 250px;
    width: 1px;
    top: 0;
  }
}

.content {
  position: relative;
  z-index: 1;
}

.nav {
  position: fixed;
  z-index: 2;
}

footer {
  position: relative;
  z-index: 1;
}

/**
 * Hide background effects on smaller screens to optimize loading
 * and scrolling
 */
@media screen and (max-width: 572px) {
  .bg {
    display: none;
  }
}
