.bg {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 0;

  div {
    background: $lighter-gray;
    position: fixed;
    transition: background 0.2s ease;
  }

  #line-1 {
    height: 1px;
    left: 0;
    top: 40px;
    width: 100%;
  }

  #line-2 {
    height: 100%;
    left: 200px;
    top: 0;
    width: 1px;
  }

  #line-3 {
    height: 100%;
    right: 250px;
    top: 0;
    width: 1px;
  }
}

.content {
  position: relative;
  z-index: 1;
}

.nav {
  position: fixed;
  z-index: 2;
}

footer {
  position: relative;
  z-index: 1;
}

// Hide background effects on smaller screens to optimize loading
// and scrolling
@media screen and (max-width: 572px) {
  .bg {
    display: none;
  }
}
