// Styling buttons used on the site

a {
  .btn {
    text-decoration: none;

    &:active,
    &:focus,
    &:hover,
    &:visited {
      text-decoration: none;
    }
  }
}

.btn {
  border-radius: 0.2rem;
  box-shadow: 0 0.2rem 0.4rem $shadow;
  font-family: 'Inconsolata', monospace;
  font-size: 1.2rem;
  text-decoration: none;

  &:hover {
    box-shadow: 0 0.2rem 0.2rem $dark-shadow;
  }

  &.btn-primary {
    background: $slate;
    border: 1px solid $border;
    color: $white !important;

    &:active,
    &:focus,
    &:hover {
      background: $dark-slate;
    }
  }

  &.btn-secondary {
    color: $white;

    &:active,
    &:focus,
    &:hover {
      color: $white;
    }
  }
}

.buttons {
  margin-bottom: 0.5rem;
  width: 100%;

  .btn {
    margin-bottom: 0.5rem;
    margin-right: 0.25rem;
    z-index: 10;
  }
}

@media screen and (max-width: 848px) {
  .btn {
    font-size: 1rem;
  }
}
