/**
 * Styling buttons used on the site
 */
 a.btn {
   text-decoration: none !important;
 }

.btn {
  border-radius: 0.2rem;
  box-shadow: 0rem 0.2rem 0.4rem $shadow;
  font-family: 'Inconsolata', monospace;
  font-size: 1.2rem;
  text-decoration: none !important;

  &:hover {
    box-shadow: 0rem 0.2rem 0.2rem $dark-shadow;
  }

  &.btn-primary {
    color: white !important;
    background: $slate !important;
    border: 1px solid $border !important;

    &:hover,
    &:active,
    &:focus, {
      background: $dark-slate !important;
    }
  }

  &.btn-secondary {
    color: white !important;
  }
}

.buttons {
  width: 100%;
  margin-bottom: 0.5rem;

  .btn {
    margin-bottom: 0.5rem;
    margin-right: 0.25rem;
    z-index: 10;
  }
}

@media screen and (max-width: 848px) {
  .btn {
    font-size: 1rem;
  }
}
