// Styling for cards used throughout the application

.content {
  .card {
    background: $white;
    border: 1px solid $border;
    border-radius: 0.2rem;
    // box-shadow: 0 0.1rem 0.4rem $shadow;
    margin-bottom: 1rem;
    padding: 1rem;

    .timestamp {
      font-size: $font-sm;
      margin-bottom: 0;

      a {
        font-size: $font-sm;
      }
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }

    .subtitle {
      font-weight: $normal;
      margin-bottom: 0.75rem !important; // sass-lint:disable-line no-important
    }

    &.card-post {
      padding: 0;

      .body {
        padding: 1rem;
      }

      .timestamp {
        margin-top: 0;
      }
    }

    &.has-bg {
      border: 0 !important;
    }

    &.has-img {
      padding: 0;

      .card-img {
        border-radius: 0.2rem 0.2rem 0 0;
        width: 100%;
      }

      &#hero {
        .card-img {
          background-position: top;
          background-repeat: none;
          background-size: cover;
          display: block;
          height: 10rem;
          width: 100%;
        }
      }

      .body {
        padding: 1rem;
      }
    }

    ul {
      margin-bottom: 0;
      padding-left: 1.5rem;
    }
  }

  a {
    .card {
      color: $black;
      text-decoration: none;

      &:active,
      &:focus,
      &:hover,
      &:visited {
        color: $black;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .content {
    .card {
      &.card-post {
        .body {
          padding: 1.5rem calc(1rem + 2.5%);
        }
      }
    }
  }
}

@media screen and (min-width: 1248px) {
  .content {
    .card {
      &.card-post {
        .body {
          padding: 1.5rem calc(1rem + 5%);
        }
      }
    }
  }
}

.profile-picture-wrapper {
  margin-right: calc(1rem + 2.5%);
}

.profile-picture {
  border-radius: 50%;
  height: auto;
  margin-bottom: 1.5rem;
  width: 10rem;
}

@media screen and (max-width: 848px) {
  .no-flex-mobile {
    display: block !important;
  }

  .profile-picture {
    margin-left: calc(50% - 5rem);
  }

  .profile-picture-wrapper {
    margin-right: 0;
    width: 100%;
  }

  #hero {
    margin-top: -1rem;
  }

  .content {
    .card {
      .subtitle {
        font-size: $font-sm;
      }

      &.card-post {
        .timestamp {
          font-size: $font-sm;
        }

        .line {
          margin: 0.75rem 0;
        }
      }
    }
  }
}

.flex-container {
  display: flex;
  flex-direction: row;

  .background-image {
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    flex: none;
    height: auto;
    margin-left: 1rem;
    max-height: 3rem;
    width: 3rem;
  }

  .flex {
    flex: 1;
  }
}

@media screen and (max-width: 572px) {
  .flex-container {
    .backgrund-image {
      margin-left: 0.5rem;
      max-height: 3rem;
      width: 2.4rem;
    }
  }

  .space-mobile {
    display: block;
    height: 1rem;
    width: 100%;
  }

  .app {
    .content {
      padding-top: 0;

      .card {
        border-radius: 0;
        margin-left: -1rem;
        margin-right: -1rem;

        .card-img {
          border-radius: 0;
        }
      }
    }
  }
}

#hero {
  padding-bottom: 1.5rem;
  padding-top: 2.5rem;
}
