// Colors used in styles throughout the application
$white: #ffffff;
$light-gray: #f4f4f7;
$lighter-gray: #dbdbe0;
$pale-gray: #a0a0a0;
$gray: #848484;
$dark-gray: #5b5b5b;
$black: #000000;
$border: rgba(0, 0, 0, 0.1);
$light-border: rgba(255, 255, 255, 0.2);
$dark-border: rgba(0, 0, 0, 0.2);

// Colors
$light-blue: #c3d0e5;
$blue: #3e64a0;
$slate: #41597f;
$dark-slate: #28364c;

// Shadows
$shadow: rgba(0, 0, 0, 0.05);
$dark-shadow: rgba(0, 0, 0, 0.1);
$darker-shadow: rgba(0, 0, 0, 0.25);
