// Colors used in styles throughout the application
$black: #000;
$browser-border: rgba(0, 0, 0, .175);
$border: rgba(0, 0, 0, .1);
$dark-border: rgba(0, 0, 0, .2);
$dark-gray: #5b5b5b;
$gray: #848484;
$light-border: rgba(255, 255, 255, .2);
$light-gray: #f4f4f7;
$lighter-gray: #dbdbe0;
$pale-gray: #a0a0a0;
$project-btn-bg: rgba(255, 255, 255, .3);
$white: #fff;

// Colors
$blue: #3e64a0;
$dark-slate: #28364c;
$light-blue: #c3d0e5;
$slate: #41597f;
$yellow: #ff0;
$teal: #b4e7f8;

// Shadows
$dark-shadow: rgba(0, 0, 0, .1);
$darker-shadow: rgba(0, 0, 0, .25);
$shadow: rgba(0, 0, 0, .05);