// Colors used in styles throughout the application
$white: #ffffff;
$light-gray: #f2f2f4;
$gray: #848484;
$dark-gray: #5b5b5b;
$black: #000000;
$border: rgba(0, 0, 0, 0.1);

// Colors
$slate: #41597f;
$dark-slate: #28364c;

// Shadows
$shadow: rgba(0, 0, 0, 0.05);
$dark-shadow: rgba(0, 0, 0, 0.1);
