// Styling the contact modal and form
#contactModal {
  .modal-content {
    border: 1px solid $border;
    border-radius: .2rem;
  }
}

.modal-backdrop {
  background: $white;
}

.form-control {
  border: 2px solid $border;
  border-width: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 16px;
  margin-bottom: 1rem;
  padding: .75rem;

  &:hover {
    border: 2px solid $dark-border;
  }

  &:focus,
  &:active {
    border: 2px solid $slate;
  }
}

textarea {
  &.form-control {
    margin-bottom: 0;
  }
}

// Only show the link to the contact modal on larger screens
// On smaller screens direct users to the contact path
@media screen and (min-width: 848px) {
  #contact-btn {
    display: inline-block;
  }

  #contact-link {
    display: none;
  }
}

@media screen and (max-width: 847.9px) {
  #contact-btn {
    display: none;
  }

  #contact-link {
    display: inline-block;
  }
}

.alert {
  border-width: 2px;
}
