// Styling for text and fonts

// $sans: 'Work Sans', sans-serif;
$sans: 'Open Sans', Roboto, sans-serif;
// $serif: 'PT Serif', Georgia, Times, serif;

$bold: bold;
$medium: 600;
$normal: normal;

body,
html {
  font-family: $sans;
}

// .serif {
//   font-family: $serif;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $medium;
}

a,
li,
p {
  font-size: 1rem;
}

@media screen and (min-width: 1200px) {
  a,
  li,
  p {
    font-size: 1.2rem;
  }
}

a {
  color: $blue;
  cursor: pointer;
  text-decoration: underline;

  &:active,
  &:focus,
  &:hover {
    color: darken($blue, 10%);
  }

  &:visited {
    color: $blue;
  }
}

.gray-text {
  color: $gray;

  &a {
    color: $gray;

    &:active,
    &:focus,
    &:hover,
    &:visited {
      color: $gray;
    }
  }
}

.bold {
  font-weight: $bold !important;
}

.medium {
  font-weight: $medium !important;
}

.normal {
  font-weight: $normal !important;
}