/**
 * Styling for text and fonts
 */
body,
html {
  font-family: 'Roboto', sans-serif;
}

.mono {
  font-family: 'Roboto Mono', monospace;
}

.serif {
  font-family: 'PT Serif', Georgia, serif;
}

p,
a,
li {
  font-size: 1.2rem;
}

a {
  color: $blue !important;
  cursor: hand;
  cursor: pointer;
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    color: darken($blue, 10%) !important;
  }

  &:visited {
    color: $slate;
  }
}

.gray-text {
  color: $gray !important;
}

.bold {
  font-weight: bold;
}
