/**
 * Styling for the footer rendered on every page
 */
footer {
  padding-bottom: 1rem;

  p {
    font-size: 0.8rem;
    margin-bottom: 0;
    line-height: 1;
    color: lighten($gray, 5%);

    &.right {
      float: right;
    }
  }

  #scroll-to-top:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 448px) {
  footer {
    padding-bottom: 0rem;
    text-align: center;

    p {
      font-size: 1rem;
      margin-bottom: 1rem;
      width: 100%;

      &.right {
        float: none;
      }
    }
  }
}
