/**
 * Styling for the footer rendered on every page
 */
footer {
  padding-bottom: 1rem;

  a, p {
    font-size: 0.8rem;
    color: $gray !important;

    &.right {
      float: right;
    }
  }

  a:hover {
    text-decoration: underline !important;
    color: $gray !important;
  }
}
