// Import other stylesheets
@import './colors';
@import './fonts';
@import './buttons';
@import './spacing';

html,
body {
  background: $light-gray;
}

.content {
  padding-bottom: 1rem;

  .card {
    background: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.2rem;
    box-shadow: 0rem 0.2rem 0.4rem $shadow;
    border: 1px solid $border;

    .subtitle {
      margin-bottom: 0.5rem;
    }

    p:last-child {
      margin-bottom: 0rem;
    }
  }
}

@media screen and (min-width: 848px) {
  .app {
    display: block;
    width: 100%;

    .nav {
      width: 16rem;
      padding: 1rem;
      position: fixed;

      .logo {
        max-height: 5rem;
        margin-bottom: 1rem;
      }

      .links {
        display: block;
        width: 100%;

        a {
          display: block;
          float: left;
          clear: left;
          text-decoration: none;
          margin-bottom: 0.5rem;
          color: $dark-gray;

          &:hover,
          &:active,
          &:focus {
            color: $black;

            &::after {
              content: " →",
            }
          }
        }
      }

      .social {
        margin-bottom: 1rem;

        a {
          text-decoration: none !important;
          opacity: 0.8;

          .fa {
            margin-right: 0.25rem;
          }

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    .content {
      padding-top: 1rem;
      margin-left: 16rem;
    }
  }
}
