/**
 * Styling for the navigation of the app
 * On mobile and smaller screens, this is at the top
 * On larger screens, this is on the left
 *
 * NOTE with SCSS vars in calc statements, you must interpolate:
 * https://stackoverflow.com/questions/17982111/sass-variable-in-css-calc-function
 */

$nav-width: 12rem;

.app {
  display: block;
  width: 100%;

  .content {
    min-height: calc(100vh - 52px);
    padding-top: 1rem;
  }

  #menu {
    width: 100%;
  }

  .logo-wrapper {
    text-decoration: none !important;
  }

  .social {
    bottom: 0;
    display: block;
    margin-bottom: 1rem;
    position: absolute;
    width: 100%;

    a {
      text-decoration: none !important;

      img {
        display: inline-block;
        height: 1rem;
        margin-right: 0.4rem;
        opacity: 0.25;
      }

      &:hover {
        img {
          opacity: 1;
        }
      }
    }
  }

  .links {
    display: block;
    width: 100%;

    a {
      clear: left;
      color: $gray !important;
      display: block;
      margin-bottom: 0.5rem;
      text-decoration: none;

      &:active,
      &:focus,
      &:hover {
        color: $black !important;
      }

      &.active {
        color: $black !important;
      }
    }
  }
}

@media screen and (max-width: 847.9px) {
  .hidden-on-mobile {
    display: none;
  }

  .nav-space {
    display: block;
    height: 49px;
    width: 100%;
  }

  .nav {
    box-shadow: 0 0.1rem 0.15rem $dark-shadow;
    position: fixed;
    width: 100%;
    z-index: 1;
    z-index: 1200;

    #overview {
      background: $white;
      border-bottom: 1px solid $border;
      display: block;
      padding: 0.5rem 1rem;
      transition: all 0.2s ease;
      width: 100%;
      z-index: 2;

      .logo {
        height: 2rem;
        margin-right: 0.75rem;

        &.alt {
          opacity: 0;
          position: absolute;
          transition: all 0.2s ease;
          z-index: 1;
        }
      }

      &.active {
        background: $slate;
        border-bottom: 1px solid $light-border;

        .logo {
          &.alt {
            opacity: 1;
          }
        }
      }
    }

    #toggle {
      cursor: pointer;
      position: absolute;
      right: 1rem;
      top: calc(1rem + 3px);
      z-index: 1001;

      span {
        background: $black;
        display: block;
        height: 2px;
        margin-bottom: 3px;
        transition: background 0.2s ease;
        width: 16px;
      }

      &.active {
        span {
          background: $light-blue;
        }
      }
    }

    #menu {
      background: $white; // When hidden
      border-bottom: 1px solid $border;
      height: 0;
      left: 0;
      overflow: hidden;
      padding: 1rem 1rem 0.5rem;
      position: absolute;
      top: 0;
      transition: all 0.2s ease;
      width: 100%;
      z-index: 1;

      &.active {
        background: $slate;
        height: 100vh; // Take up the full height of screen when active
      }
    }

    .social {
      margin-top: 1rem;
      position: relative;

      a {
        img {
          color: $white;
          filter: invert(100%);
          height: 1.4rem;
          margin-right: 2.5%;
          opacity: 0.75;
        }
      }
    }

    .links {
      a {
        color: $light-blue !important;
        font-size: $font-xl;
        margin-bottom: 1.5%;

        &:hover {
          color: $white !important;
        }

        &.active {
          color: $white !important;
        }
      }
    }
  }
}

@media screen and (min-width: 848px) {
  .hidden-on-desktop {
    display: none !important;
  }

  .content > .container-fluid {
    margin: 0 !important;
    padding: 0 !important;
  }

  .app {
    .nav-wrapper {
      height: 100vh;
      padding-left: 1rem;
      position: fixed;
    }

    .nav {
      background: none;
      box-shadow: none;
      display: block;
      height: 100%;
      position: fixed;
      top: 0;
      width: $nav-width;

      #toggle {
        display: none;
      }

      .logo {
        display: block;
        height: 2rem;
        margin-top: 1rem;
        opacity: 0.5;
      }

      .social {
        min-height: 28px;
      }

      // Center links vertically on the page
      .links {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        a {
          margin-bottom: 5%;
        }
      }
    }

    .content {
      margin-left: calc(#{$nav-width} + 1.25%);
      margin-right: 1rem;
    }
  }
}

/**
 * Spacing out content on different screen sizes
 */

@media screen and (min-width: 1024px) {
  .app {
    .content {
      margin-left: calc(#{$nav-width} + 1.25vw);
      margin-right: calc(1rem + 5vw);

      .content-full-width {
        margin-left: -1.25vw;
        margin-right: -5vw;
      }
    }
  }
}

@media screen and (min-width: 1248px) {
  .app {
    .content {
      margin-left: calc(#{$nav-width} + 5vw);
      margin-right: calc(#{$nav-width} + 5vw);

      .content-full-width {
        margin-left: -5vw;
        margin-right: -5vw;
      }
    }
  }
}

@media screen and (min-width: 1496px) {
  .app {
    .content {
      margin-left: calc(#{$nav-width} + 15vw);
      margin-right: calc(#{$nav-width} + 15vw);

      .content-full-width {
        margin-left: -15vw;
        margin-right: -15vw;
      }
    }
  }
}
