/**
 * Styling for the navigation of the app
 * On mobile and smaller screens, this is at the top
 * On larger screens, this is on the left
 */
.app {
  display: block;
  width: 100%;

  .content {
    padding-top: 1rem;
    min-height: 100vh;
    min-height: calc(100vh - 52px);
  }

  #menu {
    width: 100%;
  }

  #overview {
    h4 {
      color: $black;
    }

    p {
      color: $black;
      font-size: 1rem;
    }
  }

  .logo-wrapper {
    text-decoration: none !important;
  }

  .social {
    margin-bottom: 0.5rem;
    display: block;
    width: 100%;

    a {
      text-decoration: none !important;

      img {
        opacity: 0.4;
        height: 1.1rem;
        margin-right: 0.2rem;
        width: auto;
        display: inline;
      }

      &:hover {
        img {
          opacity: 1;
        }
      }
    }
  }

  .links {
    display: block;
    width: 100%;

    a {
      color: $dark-gray !important;
      text-decoration: none;
      display: block;
      float: left;
      clear: left;
      margin-bottom: 0.5rem;

      &:hover,
      &:active,
      &:focus {
        color: $black !important;
        text-decoration: underline;
      }

      &.active {
        color: $black !important;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 847.9px) {
  .hidden-on-mobile {
    display: none;
  }

  .nav-space {
    width: 100%;
    display: block;
    height: 3rem;
  }

  .nav {
    width: 100%;
    box-shadow: 0rem 0.1rem 0.15rem $dark-shadow;
    position: fixed;
    z-index: 1;

    #overview {
      width: 100%;
      display: block;
      z-index: 2;
      padding: 0.5rem 1rem;
      background: white;
      border-bottom: 1px solid $border;
      transition: all 0.2s ease;

      .logo {
        height: 2rem;
        margin-right: 0.75rem;

        &.alt {
          position: absolute;
          z-index: 1;
          opacity: 0;
          transition: all 0.2s ease;
        }
      }

      &.active {
        background: $slate;
        border-bottom: 1px solid $light-border;

        .logo.alt {
          opacity: 1;
        }
      }
    }

    #toggle {
      width: auto;
      width: 2rem;
      cursor: hand;
      cursor: pointer;
      position: absolute;
      right: 1rem;
      margin-top: 0.2rem;
      z-index: 1001;
      top: 0.5rem;

      &:hover,
      &:focus,
      &:active {
        span {
          background: $gray;
        }
      }

      span {
        width: 100%;
        background: lighten($pale-gray, 15%);
        height: 3px;
        display: block;
        transition: all 0.2s ease;
      }

      // Apply a margin top to all bars except the first one
      span + span {
        margin-top: 0.5rem;
      }

      &.active {
        span {
          background: $light-blue;
        }

        &:hover,
        &:focus,
        &:active {
          span {
            background: $white;
          }
        }

        #first {
          transform: translateY(11px) translateX(0.2rem) rotate(135deg);
        }

        #second {
          transform: rotate(-135deg) translateX(-0.14142rem) translateY(0.14142rem);
        }

        #third {
          transform: translateY(-11px) translateX(0.2rem) rotate(135deg);
        }
      }
    }

    #menu {
      background: white;
      width: 100%;
      border-bottom: 1px solid $border;
      position: absolute;
      left: 0;
      top: 0;
      padding: 1rem 1rem 0.5rem 1rem;
      overflow: hidden;
      transition: all 0.2s ease;
      height: 0;
      z-index: 1;

      &.active {
        height: 100vh;
        background: $slate;
      }

      .links a {
        color: $light-blue !important;

        &:hover {
          color: $white !important;
        }
      }
    }

    .social {
      margin-bottom: 1rem;

      a {
        img {
          color: white;
          filter: invert(100%);
          opacity: 0.7;
          height: 1.4rem;
          margin-right: 2.5%;
        }
      }
    }

    .links {
      a {
        margin-bottom: 1.5%;
        font-size: 1.4rem;
      }
    }
  }
}

@media screen and (min-width: 848px) {
  .hidden-on-desktop {
    display: none !important;
  }

  .content > .container-fluid {
    padding: 0 !important;
    margin: 0 !important;
  }

  .app {
    padding: 0rem 2.5%;

    .nav-wrapper {
      display: flex;
      height: 100vh;
      align-items: center;
      flex-direction: row;
      position: fixed;
      padding-left: 1rem;
    }

    .nav {
      width: 16rem;
      position: fixed;
      background: none;
      box-shadow: none;

      #toggle {
        display: none;
      }

      .logo {
        display: block;
        height: 4rem;
        margin-bottom: 1rem;
        opacity: 0.5;
      }

      .title {
        height: auto;
        display: block;
        width: 100%;
        font-size: 1.8rem;
        line-height: 1;
        font-weight: 500;
      }

      .social {
        margin-bottom: 15%;
        min-height: 28px;
      }

      .links {
        a {
          margin-bottom: 5%;
        }
      }
    }

    .content {
      margin-left: 16rem;
      margin-left: calc(16rem + 1.25%);
      margin-right: 1rem;
    }
  }
}

@media screen and (min-width: 1248px) {
  .app {
    padding: 0 5%;
  }
}
