.caption {
  color: $gray;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  width: 100%;
  text-align: center;
  margin-bottom: 1.5rem;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}
