.caption {
  color: lighten($gray, 10%) !important;
  font-family: $sans;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  text-align: center;
  width: 100%;

  a {
    color: lighten($gray, 10%) !important;
    font-size: 0.9rem;

    &:visited {
      color: lighten($gray, 10%) !important;
    }

    &:active,
    &:focus,
    &:hover {
      color: $gray;
    }
  }
}

.citation {
  font-size: 0.8rem;
  line-height: 1;
  margin-bottom: 0.2rem;
}

.highlight {
  background: $yellow;
}

.topic {
  background: lighten($teal, 10%);
  border-radius: 0.4rem;
  color: $blue;
  font-size: 1rem;
  padding: 0.2rem 0.4rem;
  text-decoration: none;
  transition: background 0.2s ease;
}

a {
  &.topic {
    border: 0;
    box-shadow: none;
    color: $blue !important;

    &:hover {
      background: $teal;
    }
  }

  &:active,
  &:focus,
  &:hover,
  &:visited {
    &.topic {
      color: $blue !important;
      text-decoration: none;
    }
  }
}

.underline {
  text-decoration: underline;
}

.italics {
  font-style: italic;
}

.line,
hr {
  border-top: 2px solid lighten($border, 10%);
  display: block;
  height: 0;
  margin: 1rem 0;
  width: 100%;
}

.center {
  text-align: center;
}

.post {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: $medium;
    line-height: 1.25;
    margin-top: 1.5rem;
  }

  p {
    line-height: 1.75;
  }

  .code {
    background: $light-gray;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
    overflow-x: scroll;
    padding: 1rem;

    xmp {
      font-family: monospace;
      font-size: 1rem;
      margin: 0;
    }
  }

  code {
    background: $light-gray;
    border-radius: 0.2rem;
    padding: 0 0.2rem;
  }

  .blockquote {
    border-left: 4px solid $light-gray;
    color: $gray;
    font-style: italic;
    padding: 0.25rem 0 0.25rem 1rem;

    .author {
      display: block;
      font-size: 1rem;
      opacity: 0.5;
      padding-top: 0.25rem;
      text-align: right;
    }
  }
}

.card-post {
  h1,
  h2,
  h3 {
    line-height: 1.2;
  }

  .line {
    margin: 0.75rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .post {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: calc(1.5rem + 1.25vh);
      margin-bottom: 1rem;
    }
  }

  .card-post {
    .body:first-child {
      padding-top: calc(1.5rem + 2.5vh) !important;
    }

    .body:last-child {
      padding-bottom: calc(1.5rem + 2.5vh) !important;
    }
  }
}

.mac-wrapper {
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  position: relative;
  width: 100%;

  .mac {
    margin-bottom: 1rem;
  }

  .mac-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    margin-left: 12.5%;
    margin-top: 3.5%;
    padding-top: 47%;
    position: absolute;
    width: 75%;
  }
}

@media screen and (max-width: 648px) {
  .card-post {
    h1 {
      font-size: 2.2rem;
    }

    h2 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.8rem;
    }
  }
}

.carousel {
  margin-bottom: 0.5rem;
  overflow: hidden;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;

  .carousel-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 56.25%;
    width: 100%;
  }
}
