/**
 * Styling for projects and project screenshots
 */

// Styling the screenshot used to show desktop screenshots
.browser-screenshot {
  background: $lighter-gray;
  border: 1px solid $border;
  padding: 0% 1.25% 2.5% 1.25%;
  box-shadow: 0rem 0.1rem 0.4rem $dark-shadow;
  border-radius: 0.2rem;

  .top {
    height: 2rem;
    text-align: right;
    padding: 0.5rem 0rem;

    .circle {
      display: inline-block;
      background: $border;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      margin-left: 0.25rem;
    }
  }
}

// Styling individual project previews
.project {
  border-radius: 0.2rem;
  box-shadow: 0rem 0.1rem 0.4rem $shadow;
  color: white;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  margin-bottom: 2rem;
  padding: 0rem 2.5%;

  flex-direction: row;

  .screenshot-wrapper {
    padding: 5% 0% 0% 1rem;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;

    .screenshot-wrapper {
      padding: 5% 1rem 0% 0%;
    }
  }

  .screenshot-wrapper,
  .text {
    flex: 1;
  }

  .browser-screenshot {
    padding-bottom: 0rem;
    border-radius: 0.2rem 0.2rem 0rem 0rem;
    border-bottom: none;
    box-shadow: 0rem -0.1rem 2rem $darker-shadow;
  }

  .text {
    padding: 1rem 0rem;

    .btn {
      background: rgba(255, 255, 255, 0.3);
      color: white !important;
    }
  }
}

@media screen and (max-width: 1024px) {
  .project {
    display: block;
    padding: 0% 5%;

    .screenshot-wrapper {
      padding: 0rem !important;

      .browser-screenshot {
        box-shadow: 0rem -0.1rem 0.5rem $darker-shadow;
      }
    }
  }
}

@media screen and (max-width: 572px) {
  .project {
    border-radius: 0;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 1.5rem;
  }
}
