// Styling for projects and project screenshots
// Styling the screenshot used to show desktop screenshots
.browser-screenshot {
  background: $lighter-gray;
  border: 1px solid $border;
  border-radius: .2rem;
  box-shadow: 0 .1rem .4rem $dark-shadow;
  padding: 0% 1.25% 2.5%;

  .top {
    height: 2rem;
    padding: .5rem 0;
    text-align: right;

    .circle {
      background: $border;
      border-radius: 50%;
      display: inline-block;
      height: 1rem;
      margin-left: .25rem;
      width: 1rem;
    }
  }
}

// Styling individual project previews
.project {
  align-items: flex-end;
  border-radius: .2rem;
  box-shadow: 0 .1rem .4rem $shadow;
  color: $white;
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  overflow: hidden;
  padding: 0 2.5%;

  .screenshot-wrapper {
    padding: 5% 0 0 1rem;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;

    .screenshot-wrapper {
      padding: 5% 1rem 0 0;
    }
  }

  .screenshot-wrapper,
  .text {
    flex: 1;
  }

  .browser-screenshot {
    border-bottom: 0;
    border-radius: .2rem .2rem 0 0;
    box-shadow: 0 -.1rem 2rem $darker-shadow;
    padding-bottom: 0;
  }

  .text {
    padding: 1rem 0;

    .btn {
      background: $project-btn-bg;
      color: $white;

      &:hover,
      &:focus,
      &:visited,
      &:active {
        color: $white;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .project {
    display: block;
    padding: 0% 5%;

    .screenshot-wrapper {
      padding: 0;

      .browser-screenshot {
        box-shadow: 0 -.1rem .5rem $darker-shadow;
      }
    }
  }
}

@media screen and (max-width: 572px) {
  .project {
    border-radius: 0;
    margin-bottom: 1.5rem;
    margin-left: -1rem;
    margin-right: -1rem;
  }
}

@media screen and (min-width: 1024px) {
  .project {
    margin-bottom: calc(2rem + 2.5vh);
  }
}