/**
 * Modular classes for spacing elements out
 */
.marg-bot-0 {
  margin-bottom: 0 !important;
}

.marg-bot-05 {
  margin-bottom: 0.5rem !important;
}

.marg-bot-1 {
  margin-bottom: 1rem !important;
}

.marg-bot-2 {
  margin-bottom: 2rem !important;
}

.marg-top-05 {
  margin-top: 0.5rem !important;
}

.marg-top-1 {
  margin-top: 1rem !important;
}

.marg-top-2 {
  margin-top: 2rem !important;
}

.space-3 {
  width: 100%;
  height: 3rem;
  display: block;
}
