.text-line-behind {
  padding-top: 0.5rem;
  text-align: center;

  .line-behind {
    background: $lighter-gray;
    height: 1px;
    position: relative;
    transform: translateY(0.875rem);
    width: 100%;
  }

  p {
    background: $white;
    color: $pale-gray;
    display: inline-block;
    font-size: $font-xs;
    padding: 0 0.5rem;
    transform: translateY(0);
    width: auto;
  }
}
