@charset "UTF-8";
/**
 * Styling for text and fonts
 */
body,
html {
  font-family: 'Roboto', sans-serif; }

.mono {
  font-family: 'Inconsolata', monospace; }

p,
a {
  font-size: 1.2rem; }

a {
  color: #41597f;
  cursor: hand;
  cursor: pointer; }
  a:hover, a:focus, a:active {
    color: #28364c; }
  a:visited {
    color: #41597f; }

.gray-text {
  color: #848484; }

.bold {
  font-weight: bold; }

/**
 * Styling buttons used on the site
 */
.btn {
  border-radius: 0.2rem;
  box-shadow: 0rem 0.2rem 0.4rem rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', monospace;
  font-size: 1.2rem; }
  .btn:hover {
    box-shadow: 0rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1); }
  .btn.btn-primary {
    color: white !important;
    background: #41597f !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important; }
    .btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
      background: #28364c !important; }

/**
 * Modular classes for spacing elements out
 */
.marg-bot-0 {
  margin-bottom: 0; }

.marg-bot-05 {
  margin-bottom: 0.5rem; }

.marg-bot-1 {
  margin-bottom: 1rem; }

.marg-bot-2 {
  margin-bottom: 2rem; }

/**
 * Styling the contact modal and form
 */
#contactModal .modal-content {
  border-radius: 0.2rem; }

#contactModal .form-control {
  margin-bottom: 1rem;
  border-width: 2px;
  font-size: 16px;
  font-family: 'Roboto' sans-serif;
  padding: 0.75rem; }

#contactModal textarea.form-control {
  margin-bottom: 0; }

html,
body {
  background: #f2f2f4; }

.content {
  padding-bottom: 1rem; }
  .content .card {
    background: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.2rem;
    box-shadow: 0rem 0.2rem 0.4rem rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1); }
    .content .card .subtitle {
      margin-bottom: 0.5rem; }
    .content .card p:last-child {
      margin-bottom: 0rem; }

@media screen and (min-width: 848px) {
  .app {
    display: block;
    width: 100%; }
    .app .nav {
      width: 16rem;
      padding: 1rem;
      position: fixed; }
      .app .nav .logo {
        max-height: 5rem;
        margin-bottom: 1rem; }
      .app .nav .links {
        display: block;
        width: 100%; }
        .app .nav .links a {
          display: block;
          float: left;
          clear: left;
          text-decoration: none;
          margin-bottom: 0.5rem;
          color: #5b5b5b; }
          .app .nav .links a:hover, .app .nav .links a:active, .app .nav .links a:focus {
            color: #000000; }
            .app .nav .links a:hover::after, .app .nav .links a:active::after, .app .nav .links a:focus::after {
              content: " →"; }
      .app .nav .social {
        margin-bottom: 1rem; }
        .app .nav .social a {
          text-decoration: none !important;
          opacity: 0.8; }
          .app .nav .social a .fa {
            margin-right: 0.25rem; }
          .app .nav .social a:hover {
            opacity: 1; }
    .app .content {
      padding-top: 1rem;
      margin-left: 16rem; } }
