<div>
  <div class="card">
    <h2>Design and creativity are in everything</h2>
    <p>Ever since preschool I have loved to draw and create. I approach every challenge, job, and goal with an artist's mindset in order to build impactful and well-crafted products.</p>
  </div>
  <h4 class="mono bold">Artwork</h4>
  <div class="card-columns">
    {{#each art}}
      {{> artPiece this}}
    {{/each}}
  </div>
  <h4 class="marg-top-2 mono bold">Design</h4>
  <div class="card-columns wide">
    {{#each design}}
      {{> designPiece this}}
    {{/each}}
  </div>
</div>
