<div>
  <div class="card">
    <h2>Contact me</h2>
    <form id="contact-form">
      <div id="contact-page-message"></div>
      <div class="row">
        <div class="col-12 col-md-6">
          <input type="text" name="firstName" id="firstName" class="form-control" placeholder="First" required="true" autofocus="true"></input>
        </div>
        <div class="col-12 col-md-6">
          <input type="text" name="lastName" class="form-control" placeholder="Last" required="true"></input>
        </div>
      </div>
      <input type="email" name="email" class="form-control" placeholder="example@gmail.com" required="true"></input>
      <input type="text" name="subject" class="form-control" placeholder="Subject..." required="true"></input>
      <textarea type="text" name="body" class="form-control marg-bot-1" rows="5" placeholder="Message..." required="true"></textarea>
      <div class="buttons marg-bot-0">
        <input type="submit" name="submit" value="Send" class="btn btn-primary" id="submit-button"></input>
        <a href="/" class="btn btn-secondary">
          Back to home
        </a>
      </div>
    </form>
  </div>
</div>
