<div class="container">
  <div class="browser">
    <div class="top">
      <span class="circle"></span>
      <span class="circle"></span>
      <span class="circle"></span>
    </div>
    <div class="body">
      <h2>Let's build something</h2>

      <p>I'm a web developer passionate for beautiful, well-planned, well-built, and well-used products. Whatever you are imagining, drawing up, building, or growing, I'd love to hear about it. Scroll through my work and take the time to reach out—it can go a long way.</p>

      <div class="buttons">
        <a href="/projects" class="btn btn-primary">
          View my projects
        </a>
        <a data-toggle="modal" data-target="#contactModal" class="btn btn-primary">
          Contact me
        </a>
      </div>
    </div>
  </div>
</div>
