<div>
  <div class="space-mobile"></div>
  <div class="browser marg-bot-1">
    <div class="top">
      <span class="circle"></span>
      <span class="circle"></span>
      <span class="circle"></span>
    </div>
    <div class="body">
      <h2>Let's build something</h2>

      <p>I'm a web developer passionate for beautiful, well-planned, well-built, and well-used products. Whatever you are imagining, drawing up, building, or growing, I'd love to hear about it. Scroll through my work and take the time to reach out—it can go a long way.</p>

      <div class="buttons">
        <a href="/projects" class="btn btn-primary">
          View my projects
        </a>
        <a data-toggle="modal" data-target="#contactModal" class="btn btn-primary">
          Contact me
        </a>
      </div>
    </div>
  </div>

  <div class="space-2"></div>

  <div class="row">
    <div class="col-12 col-md-4 center">
      <h4>Your timeline, your vision</h4>
      <p>Every project is personalized to your budget, timeframe, and specifications.</p>
    </div>
    <div class="col-12 col-md-4 center">
      <h4>Full-stack, full-process</h4>
      <p>I develop, test, and maintain projects of all scales and at all stages.</p>
    </div>
    <div class="col-12 col-md-4 center">
      <h4>Flexible, modern tech</h4>
      <p>I stress mobile-first development and responsively built, cross-platform products.</p>
    </div>
  </div>

  <div class="space-2"></div>

  <div class="row marg-bot-2">
    <div class="col-12 col-md-6 col-lg-5">
      <div class="browser-screenshot">
        <div class="top">
          <span class="circle"></span>
          <span class="circle"></span>
          <span class="circle"></span>
        </div>
        <img src="/img/projects/flourish.png" alt="Flourish" class="img-fluid" />
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-7">
      <h2 class="marg-top-1">What I do best</h2>
      <p>I build sleek, user-centric websites. All of my work keeps to similar practices allowing for rapid prototyping.</p>
      <p>Each website is completely personalized in content, structure, and design in order to best accomplish what the site sets out to.</p>
    </div>
  </div>

  <div class="space-2"></div>

  <div class="row marg-bot-1">
    <div class="col-12 col-md-6 order-md-2 col-lg-5">
      <div class="browser-screenshot">
        <div class="top">
          <span class="circle"></span>
          <span class="circle"></span>
          <span class="circle"></span>
        </div>
        <img src="/img/projects/nalda.png" alt="Nalda" class="img-fluid" />
      </div>
    </div>
    <div class="col-12 col-md-6 order-md-1 col-lg-7">
      <h2 class="marg-top-1">Compensation</h2>
      <p>Set projects are paid based on completion, more fluid projects are paid hourly. Further, you only pay for the work that I put directly into product: hours spent on learning and preliminary research are on me.</p>

      <p>If you work for a non-profit, or similar organization, send me an email and we can go from there.</p>
    </div>
  </div>

  <div class="buttons">
    <a href="/" class="btn btn-primary">
      ← Back to home
    </a>
    <a data-toggle="modal" data-target="#contactModal" class="btn btn-primary">
      Contact me
    </a>
  </div>
</div>
