<!-- Overview -->
<div class="marg-bot-1">
  <div class="card has-img" id="home">
    <div style="background-image: url(/img/home-backing.svg)" class="card-img" alt="home backing"></div>
    <div class="body">
      <img src="/img/me.jpg" class="profile-picture" alt="cameron cabo">
      <h2>Hi, I'm Cameron</h2>
      <p>I'm passionate for leveraging technology to simplify and extend people's lives. I study computer science and management in the M&T program at UPenn, and spend my free time developing websites, learning new things, and going to new places.</p>
    </div>
  </div>
  <div class="buttons marg-bot-05">
    <a href="/projects" class="btn btn-primary marg-bot-05">
      View my projects
    </a>
    <a href="/posts" class="btn btn-primary marg-bot-05">
      Read my posts
    </a>
  </div>
</div>

<!-- Education -->
<div class="marg-bot-2">
  <h4 class="mono bold title">Education</h4>
  {{#each education}}
    {{> education this}}
  {{/each}}
</div>

<!-- Experience -->
<div class="marg-bot-2">
  <h4 class="mono bold title">Experience</h4>
  {{#each experiences}}
    {{> experience this}}
  {{/each}}
  <a href="/files/resume.pdf" class="btn btn-primary" target="_BLANK">
    View my resume →
  </a>
</div>

<!-- Technologies -->
<div class="marg-bot-2">
  <h4 class="mono bold title">Technologies</h4>

  <div class="card">
    <div class="row">
      <div class="col-12 col-md-6">
        <h4>General Purpose</h4>
        <p>
          JavaScript, Java, Ruby, C, Python, Haskell.
        </p>

        <h4>Web</h4>
        <p>
          React, Redux, HTML, CSS (SCSS, SASS, styled-components), ERB, Handlebars, Angular, EJS, jQuery.
        </p>

        <h4>Mobile</h4>
        <p>
          React Native, Redux, Android.
        </p>
      </div>

      <div class="col-12 col-md-6">
        <h4>APIs</h4>
        <p>
          Node, Express, Passport, Ruby on Rails, GraphQL.
        </p>

        <h4>Databases &amp; Deployment</h4>
        <p>
          Postgres, MongoDB, AWS (DynamoDB), Google Cloud Platform, Firebase, Heroku.
        </p>

        <h4>Data</h4>
        <p>
          Hadoop Map Reduce, SQL, Spark.
        </p>
      </div>
    </div>
  </div>

  <a href="/projects" class="btn btn-primary">
    Check out my projects →
  </a>
</div>

<!-- Extracurriculars -->
<div>
  <h4 class="mono bold title">Extracurriculars</h4>
  {{#each extracurriculars}}
    {{> extracurricular this}}
  {{/each}}
</div>

<!-- Recent projects -->
{{#if projects}}
  <div>
    <h4 class="mono bold title">Recent Projects</h4>
    {{#each projects}}
      {{> project this}}
    {{/each}}
  </div>
  <a href="/projects" class="btn btn-primary marg-bot-1">
    View projects
  </a>
{{/if}}

<!-- Recent posts -->
{{#if posts}}
  <div>
    <h4 class="mono bold title">Recent Posts</h4>
    <div class="row">
      {{#each posts}}
        <div class="col-12 col-md-6">
          {{> postPreview this}}
        </div>
      {{/each}}
    </div>
    <a href="/posts" class="btn btn-primary marg-bot-1">
      View posts
    </a>
  </div>
{{/if}}
