<!-- Overview -->
<div class="marg-bot-1">
  <div class="card has-bg" style="background-image: url(/img/home-backing.svg)" id="hero">
    <div class="flex-container no-flex-mobile">
      <div class="profile-picture-wrapper">
        <img src="/img/me.jpg" class="profile-picture" alt="Cameron Cabo image">
      </div>
      <div class="flex">
        <h1>Hi, I'm Cameron</h1>
        <p>I want to leverage tech to help people learn more and live better. I study computer science and management in
          the <a href="https://fisher.wharton.upenn.edu/">M&T program at UPenn,</a> and spend my free time <a
            href="https://www.riplo.io">developing websites,</a> <a href="https://github.com/ccabo1/">learning new
            things,</a> and <a href="https://instagram.com/cameroncabo">going to new places.</a></p>
      </div>
    </div>
  </div>

  <div class="buttons marg-bot-05">
    <a href="/projects" class="btn btn-primary marg-bot-05">
      View my projects
    </a>
    <a href="/posts" class="btn btn-primary marg-bot-05">
      Read my posts
    </a>
  </div>
</div>

<!-- Education -->
<div class="marg-bot-2">
  <h4 class="title">Education</h4>
  {{#each education}}
  {{> education this}}
  {{/each}}
</div>

<!-- Experience -->
<div class="marg-bot-2">
  <h4 class="title">Experience</h4>
  {{#each experiences}}
  {{> experience this}}
  {{/each}}
  <a href="/files/resume.pdf" class="btn btn-primary" target="_BLANK">
    View my resume →
  </a>
</div>

<!-- Technologies -->
<div class="marg-bot-2">
  <h4 class="title">Technologies</h4>

  <div class="card">
    <div class="row">
      <div class="col-12 col-md-6">
        <h5>General Purpose</h5>
        <p>
          JavaScript, Java, Ruby, C, Python, Haskell.
        </p>

        <h5>Web</h5>
        <p>
          React (Gatsby, Next), Redux, HTML, CSS (SCSS, styled-components), ERB, Handlebars, Angular, EJS, jQuery.
        </p>

        <h5>Mobile</h5>
        <p>
          React Native, Android.
        </p>
      </div>

      <div class="col-12 col-md-6">
        <h5>APIs</h5>
        <p>
          Node, Express, Passport, Ruby on Rails, GraphQL, Java Spark.
        </p>

        <h5>Databases &amp; Deployment</h5>
        <p>
          Postgres, MongoDB, AWS (DynamoDB), Google Cloud Platform, Firebase, Heroku.
        </p>

        <h5>Data</h5>
        <p>
          Map Reduce, SQL, Spark, Jupyter Notebook, Storm.
        </p>
      </div>
    </div>
  </div>

  <a href="/projects" class="btn btn-primary">
    Check out my projects →
  </a>
</div>

<!-- Extracurriculars -->
<div>
  <h4 class="title">Extracurriculars</h4>
  {{#each extracurriculars}}
  {{> extracurricular this}}
  {{/each}}
</div>

<!-- Recent projects -->
{{#if projects}}
<div>
  <h4 class="title">Recent Projects</h4>
  {{#each projects}}
  {{> project this}}
  {{/each}}
</div>
<a href="/projects" class="btn btn-primary marg-bot-1">
  View projects
</a>
{{/if}}

<!-- Recent posts -->
{{#if posts}}
<div>
  <h4 class="title">Recent Posts</h4>
  <div class="row">
    {{#each posts}}
    <div class="col-12 col-md-6">
      {{> postPreview this}}
    </div>
    {{/each}}
  </div>
  <a href="/posts" class="btn btn-primary marg-bot-1">
    View posts
  </a>
</div>
{{/if}}