<div class="container">
  <div class="card">
    <h2>Hi! I'm Cameron</h2>
    <p>I'm a driven learner, freelance web developer, and product builder— passionate for entrepreneurship, user experience, analytics, and marketing.</p>
    <p>I study computer science and management of entrepreneurship in the Jerome Fisher Program in Management and Technology at the University of Pennsylvania.</p>
  </div>
</div>
