<div>
  {{#if topic}}
    <h4 class="mono bold title">Posts about "{{topic}}"</h4>
  {{/if}}
  <div class="card-columns">
    {{#each posts}}
      {{> postPreview this}}
    {{/each}}
  </div>
  {{#if topic}}
    <a href="/posts" class="btn btn-primary marg-top-1">
      ← Back to all posts
    </a>
  {{else}}
    <a href="/" class="btn btn-primary marg-top-1">
      ← Back to home
    </a>
  {{/if}}
</div>
