<div class="container-fluid">
  <div class="card-columns">
    {{#each posts}}
      {{> postPreview this}}
    {{/each}}
  </div>
  <a href="/" class="btn btn-primary marg-top-2">
    ← Back to home
  </a>
</div>
