<div class="container">
  <div class="card{{#if image}} has-img{{/if}}">
    <div class="body">
      <h1>{{title}}</h1>
      {{#if subtitle}}<h3 class="serif">{{subtitle}}</h3>{{/if}}
    </div>
    {{#if image}}
      <img src={{image}} class="img-fluid"></img>
    {{/if}}
    <div class="body serif">
      {{{body}}}
    </div>
  </div>

  <a href="/posts" class="btn btn-primary">
    ← Back to all posts
  </a>
</div>
