<div class="container">
  <div class="card has-img">
    <div class="body">
      <h1 class="marg-bot-0">{{title}}</h1>
      {{#if subtitle}}<h3 class="serif gray-text">{{subtitle}}</h3>{{/if}}
    </div>
    {{#if image}}
      <img src={{image}} class="img-fluid"></img>
    {{else}}
      <div class="line"></div>
    {{/if}}
    <div class="body post serif">
      <!-- Lookup the partial indexed by the post slug -->
      {{> (lookup . 'slug')}}
    </div>
  </div>

  <a href="/posts" class="btn btn-primary">
    ← Back to all posts
  </a>
</div>
