<div class="content-full-width">
  {{#each projects}}
    {{> project this}}
  {{/each}}
  <div class="buttons marg-top-2">
    <a href="/" class="btn btn-primary">
      ← Back to home
    </a>
    <a data-toggle="modal" data-target="#contactModal" class="btn btn-primary">
      Contact me
    </a>
  </div>
</div>
