<form id="contactForm">
  <div class="modal-body">
    <!-- Render a div for error and success messages -->
    <div id="message"></div>

    <!-- Render the form fields -->
    <div class="row">
      <div class="col-12 col-md-6">
        <input type="text" name="firstName" id="firstName" class="form-control" placeholder="First" required="true"></input>
      </div>
      <div class="col-12 col-md-6">
        <input type="text" name="lastName" class="form-control" placeholder="Last" required="true"></input>
      </div>
    </div>
    <input type="email" name="email" class="form-control" placeholder="example@gmail.com" required="true"></input>
    <input type="text" name="subject" class="form-control" placeholder="Subject..." required="true"></input>
    <textarea type="text" name="body" class="form-control" placeholder="Message..." required="true"></textarea>
  </div>
  <div class="modal-footer">
    <input type="submit" class="btn btn-primary" value="Send" id="contactFormButton"></input>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">
      Cancel
    </button>
  </div>
</form>
