<footer>
  <div class="container-fluid">
    <p class="right">
      Cameron Cabo &copy; 2018. All rights reserved.
    </p>
    <a id="scroll-to-top">
      Scroll to top ↑
    </a>
  </div>
</footer>
