<footer>
  <div class="container-fluid">
    <p class="right">
      Cameron Cabo &copy; 2019. All rights reserved.
    </p>
    <p id="scroll-to-top">
      Scroll to top ↑
    </p>
  </div>
</footer>