<div class="row">
  <div class="col-12 col-md-10 offset-md-1">
    <div class="mac-wrapper">
      {{# if img}}
        <div style="background-image: url({{ img }});" class="mac-img"></div>
      {{/if}}

      <img src="/img/mac.png" class="img-fluid mac" />
    </div>
  </div>
</div>
