<div class="nav-wrapper">
  <div class="nav">
    <div id="overview">
      <a href="/" class="logo-wrapper">
        <img src="/img/logo-02.svg" class="img-fluid logo alt hidden-on-desktop" alt="logo" />
        <img src="/img/logo-01.svg" class="img-fluid logo" alt="logo" />
      </a>
      <h4 class="bold title hidden-on-mobile">Cameron Cabo</h4>
      <p class="marg-bot-05 hidden-on-mobile">
        Driven learner, developer, and product builder.
      </p>

      <div id="toggle">
        <span class="bar" id="first"></span>
        <span class="bar" id="second"></span>
        <span class="bar" id="third"></span>
      </div>
    </div>

    <div id="menu">
      <div class="space-3 hidden-on-desktop"></div>
      <div class="social">
        <a href="https://facebook.com/cam.cabo" target="_BLANK">
          <img src="/img/logos/fb.svg" alt="Cameron Cabo on Facebook">
        </a>
        <a href="https://linkedin.com/in/cameroncabo" target="_BLANK">
          <img src="/img/logos/linkedin.svg" alt="Cameron Cabo on LinkedIn">
        </a>
        <a href="https://twitter.com/cameroncabo" target="_BLANK">
          <img src="/img/logos/twitter.svg" alt="Cameron Cabo on Twitter">
        </a>
        <a href="https://github.com/ccabo1" target="_BLANK">
          <img src="/img/logos/github.svg" alt="Cameron Cabo on GitHub">
        </a>
        <a href="https://instagram.com/c.cabo" target="_BLANK">
          <img src="/img/logos/instagram.svg" alt="Cameron Cabo on Instagram">
        </a>
        <a href="mailto:cameroncabo@gmail.com">
          <img src="/img/logos/email.svg" alt="Cameron Cabo on Email">
        </a>
      </div>

      <div class="links mono">
        <a href="/" class="{{#if isRootActive}}active{{/if}}">Home</a>
        <a href="/projects" class="{{#if isProjectsActive}}active{{/if}}">Projects</a>
        <a href="/posts" class="{{#if isPostsActive}}active{{/if}}">Posts</a>
        <a href="/art-design" class="{{#if isArtDesignActive}}active{{/if}}">Art/Design</a>
        <a href="/freelancing" class="{{#if isFreelancingActive}}active{{/if}}">Freelancing</a>
        {{#if isContactActive}}
          <a href="/contact" class="active">
            Contact
          </a>
        {{else}}
          <a data-toggle="modal" data-target="#contactModal" id="contact-btn">
            Contact
          </a>
          <a href="/contact" id="contact-link">
            Contact
          </a>
        {{/if}}
      </div>
    </div>
  </div>
</div>

<div class="nav-space hidden-on-desktop"></div>
